name: Validation
on:
  push:
  pull_request:

jobs:

  validate:
    name: Validation
    strategy:
      matrix:
        ngff:
          - '0.1'
          - '0.2'
          - '0.3'
          - '0.4'
          - '0.5'
          - 'latest'
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - run: python -mpip install --upgrade wheel tox
      - run: cd ${{matrix.ngff}} && tox
